.headerimg {
    margin-left: 5px;
    margin-right: 5px;
}

.text-centered {
    text-align: center;
}

.warning {
    color: red;
}

.ticked_categories {
    color: green;
}

.hidden {
   visibility: hidden;
}

.recipeimg {
    width: 30vw;
}

@media (max-width: 992px) {

}


@media (max-width: 600px) {
    .hidden-mobile {
        display: none;
    }
    nav .brand-logo {
        font-size: 1.1rem;
    }
}
