<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <link rel="icon" type="image/png" href="../../static/img/favicon.ico">
    <title>Your Online Cookbook</title>

</head>

<body>
    
<!--Navbar (modified links)-->
    <nav>
        <div class="nav-wrapper">
            <a href="{{url_for('index')}}" class="hidden-mobile"><img class= "headerimg" src="/static/img/headerimg.jpg"></a>
            <a href="{{url_for('index')}}" class="brand-logo">Your Online Cookbook</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="large material-icons">dehaze</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{url_for('index')}}">Home</a></li>
            </ul>
        </div>
    </nav>
    
<!--Mobile navbar (modified links)-->
    <ul class="sidenav" id="mobile-demo">
        <li><a href="{{url_for('index')}}">Home</a></li>
    </ul>
   
   
<!--404 redirect to home-->    
    <main class="center-align">
        <h2 class="page-title">Uh-oh, how did you get here?</h2>
        <p>Click the image to get back to the main website.</p>
        <a href="{{url_for('index')}}"><img src="static/img/indeximg.jpg"></a>
    </main>


<!--Footer-->    
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="footer-copyright col s8">
                    © 2018 Heather Olcot
                </div>
                <div class="col s4">
                    <a target="_blank" class="grey-text text-lighten-3 footer-icons" href="https://github.com/hfolcot"><i class="fab fa-github"></i></a></li>
                    <a target="_blank" class="grey-text text-lighten-3 footer-icons" href="https://www.linkedin.com/in/heather-olcot-b49981159/"><i class="fab fa-linkedin-in"></i></a></li>
                </div>
            </div>
            <div class="row"><p>Website built as part of Code Institute's Full Stack Web Development course</p></div>
        </div>
    </footer>
    
<!--Scripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>

</body>

</html>