{% extends 'base.html'%} {% block content %}
<main class="text-centered container">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="This is the title that will appear on the recipe's page" id="recipe_name" type="text" class="validate">
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10">
                    <input id="ingredients" placeholder="Enter first ingredient" type="text" class="validate">
                    <label for="ingredients">Ingredients</label>
                </div>
                <div class="input-field col s2">
                    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10">
                    <input id="method" placeholder="Enter step one" type="text" class="validate">
                    <label for="method">Method</label>
                </div>
                <div class="input-field col s2">
                    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input id="prep_time" placeholder="Number of minutes" type="text" class="validate">
                    <label>Prep Time</label>
                </div>
                <div class="input-field col s4">
                    <input id="cook_time" type="text" class="validate">
                    <label for="cook_time">Cook Time (minutes)</label>
                </div>
                <div class="input-field col s4">
                    <select id="serves">
                    <option value="" disabled selected>Number of people</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="3">4</option>
                    <option value="3">5</option>
                    <option value="3">6</option>
                    <option value="3">7</option>
                    <option value="3">8</option>
                    <option value="3">9</option>
                    <option value="3">10</option>
                    <option value="3">11</option>
                    <option value="3">12</option>
                    <option value="3">Over 12</option>
                </select>
                    <label for="serves">Serves</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Who created this recipe?" id="author" type="text" class="validate">
                    <label for="author">Author</label>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Add an Image</span>
                            <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="row">
                    <div class="col s2">
                        <h5>Categories</h5>
                    </div>
                </div>

                <div class="col s2">
                    <h6>Main Ingredients</h6>
                        <form>
                            {% for i in categories[0]["main_ing"] %} {% for k, v in i.items(): %}
                            <p><input type="checkbox" id={{ v }}/>
                            <span>{{ v.capitalize() }}</span> {% endfor %} {% endfor %}</p>
                        </form>
                </div>

                <div class="col s2">
                    <h6>Recipe Type</h6>
                    <form>
                        {% for i in categories[0]["recipe_type"] %} 
                            {% for k, v in i.items(): %}
                                <p><input type="checkbox" id={{ v }}/>
                                <span>{{ v.capitalize() }}</span> </p>
                            {% endfor %} 
                        {% endfor %}
                    </form>
                </div>
                <div class="col s2">
                    <h6>Health</h6>
                    <form>
                        {% for i in categories[0]["health_concerns"] %} 
                            {% for k, v in i.items(): %}
                                <p><input type="checkbox" id={{ v }}/>
                                <span>{{ v.capitalize() }}</span> </p>
                            {% endfor %} 
                        {% endfor %}
                    </form>
                </div>
                
                <div class="row">
                    <div class="col s2 offset-s9">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons right">send</i></button>
                    </div>
                </div>
        </form>
        </div>
</main>
{% endblock %}
