{% extends 'base.html'%} {% block content %}
<main class="text-centered container">
    <h2>Welcome to Your Online Cookbook!</h2>
    <div class="row">
        <form class="col s12 m7">
            <div class="row">
                <div class="input-field col s10">
                    <input placeholder="What are you looking for?" id="search" type="text" class="validate">
                </div>
                <div class="col s2">
                    <a class="waves-effect waves-light btn" href={{ url_for( "results") }}><i class="material-icons">search</i></a>
                </div>

            </div>
            <div class="row">
                <div class="input-field col s10">
                    <select>
                    <option value="" disabled selected>Browse Recipes...</option>
                        <option disabled>Main Ingredients:</option>
                        {% for i in categories[0]["main_ing"] %}
                            {% for k, v in i.items(): %}
                            <option value="1">{{ v.capitalize() }}</option>
                            {% endfor %}
                        {% endfor %}
                        <option disabled>Recipe Type:</option>
                        {% for i in categories[0]["recipe_type"] %}
                            {% for k, v in i.items(): %}
                            <option value="1">{{ v.capitalize() }}</option>
                            {% endfor %}
                        {% endfor %}
                        <option disabled>Health Options:</option>
                        {% for i in categories[0]["health_concerns"] %}
                            {% for k, v in i.items(): %}
                            <option value="1">{{ v.capitalize() }}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col s2">
                    <a class="waves-effect waves-light btn">Go</a>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <a href="{{url_for('add_recipe')}}" class="waves-effect waves-light btn-large"><i class="material-icons right">add</i>Add your own recipe</a>
                </div>
            </div>
        </form>
        <img class="col m5 hidden-mobile" src="/static/img/indeximg.jpg">
    </div>

</main>
{% endblock %}
