{% extends 'base.html'%} {% block content %}
<main class="center-align container">

<!--Page Title-->    
    <h2 class="page-title">Welcome to Your Online Cookbook!</h2>
    
    <div class="row">
<!--Search form, browse, and add/login buttons-->
        <div class="col s12 m6">
            <div class="search-form">
                <form method="POST">
                    <div class="input-field col s10">
                        <input placeholder="Search Recipes..." name="search" type="text" class="validate">
                    </div>
                    <div class="col s2">
                        <button type="submit" name="action" value="search" class="waves-effect waves-light btn"><i class="material-icons">search</i></button>
                    </div>
                </form>
            </div>
            <div class="divider"></div>
            <div class="section">
                <a href="{{ url_for('get_recipes', page_no=1) }}" class="waves-effect waves-light btn-large">Browse all Recipes</a>
            </div>
            <div class="divider"></div>
            {% if user %}
            <div class="section">
                <a href="{{url_for('add_recipe')}}" class="waves-effect waves-light btn-large"><i class="material-icons right">add</i>Add your own recipe</a>
            </div>
            {% else %}
            <div class="section">
                <p>Login to add or edit recipes!</p>
                <a href="#login-modal" class="waves-effect waves-light btn-large modal-trigger"><i class="material-icons right">person</i>Login</a>
            </div>
            {% endif %}
        </div>
<!--Image (desktop)-->        
        <div class="col hidden-mobile m6 home-image">
            <a href="{{ url_for('get_recipes', page_no=1) }}"><img src="/static/img/indeximg.jpg" alt="Click to see all recipes"></a>
        </div>
    </div>
    
<!--Image(mobile)-->    
    <div class="row hide-on-med-and-up home-image">
        <a href="{{ url_for('get_recipes', page_no=1) }}"><img src="/static/img/indeximg.jpg" alt="Click to see all recipes"></a>
    </div>

</main>
{% endblock %}
