{% extends 'base.html'%} {% block content %}
<main class="container">
<div class="row">
    <button id="back-to-results" class="btn waves-effect waves-light no-display" onclick="history.back(-1)">Back to results<i class="material-icons left">arrow_back</i></button>
</div>
<!--Image, Title, Author, Serves-->
    <div class="row recipe-header">
        <div class="col s12 m4 hide-on-med-and-down">
            <img src="{{ recipe.image }}" onerror='this.src="../static/img/not-found.jpg"' title="{{ recipe.name }}" alt="{{ recipe.name }}" class="recipeimg">
        </div>
        <div class="col s12 l8">
            <h2 class="page-title center-align">{{ recipe.name.capitalize() }} {% if rating > 0 %}
                <i class="material-icons">{{ rating * "stars" }}</i> {% endif %}</h2>
            <h6 class="center-align">Author: {{ recipe.author }}</h6>
            <p class="center-align">Serves: {{ serves }}</p>
            <!--Edit and Delete links-->
            {% if user %}
            <p class="center-align">Problem? <a href="{{ url_for( 'edit_recipe', recipe_id=recipe._id) }}">Edit this recipe</a></p>
            <p class="center-align"><a href="#delete-recipe-modal" class="modal-trigger">Delete this recipe</a></p>
            {% else %}
            <p class="center-align">Please <a href="#login-modal" class="modal-trigger">login</a> to edit or delete recipes!</p>
            {% endif %}
        </div>


    </div>
    <div class="row">
        <div class="col s12 m6 l4">
            <!--Recipe rating input-->
            {% if recipe_id in user_rated %}
            <p>You have already rated this recipe</p>
            {% else %} {% if user %}
            <form action="{{ url_for('rate_recipe', recipe_id=recipe._id) }}" method="POST">
                {% if rating == 0 %}
                <p>Be the first to rate this recipe!</p>
                {% else %}
                <p>Rate this recipe:</p>
                {% endif %}
                <div class="input-field col s12 m3">
                    <select id="rating" name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5" selected>5</option>
                </select>
                </div>
                <div class="input-field col s2">
                    <input type="submit" class="waves-effect waves-light btn" value="Rate!">
                </div>
            </form>
            {% else %}
            <p><a href="#login-modal" class="modal-trigger">Login</a> to rate recipes!</p>
            {% endif %} {% endif %}
        </div>
    </div>
    <div class="row">
<!--Ingredients, method (desktop)-->
        <div class="row hide-on-med-and-down white-background z-depth-2">

            <div class="col l4">
                <h5>Ingredients</h5>
                {% for i in recipe.ingredients %}
                <p>{{ i.capitalize() }}</p>
                {% endfor %}
            </div>

            <div class="col l8">
                <h5>Method</h5>
                <ol>
                    {% for i in method %}
                    <li>{{ i[3:] }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>

<!--Ingredients, method and image(mobile)-->
        <div class="row hide-on-large-only">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">restaurant</i>Ingredients</div>
                    <div class="collapsible-body white-background">
                        {% for i in recipe.ingredients %}
                        <p>{{ i.capitalize() }}</p>
                        {% endfor %}
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">view_list</i>Method</div>
                    <div class="collapsible-body white-background">
                        <ol>
                            {% for i in method %}
                            <li>{{ i[3:] }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                </li>
            </ul>
            <div class="col s12 center-align">
                <img src="{{ recipe.image }}" title="{{ recipe.name }}" alt="{{ recipe.name }}" class="recipeimg">
            </div>
        </div>
        <div class="row">
<!--Categories and serves-->
            
            {% if recipe.categories.main_ing %}
            <div class="col s12 m4">
                <p>Main ingredient: {{ recipe.categories.main_ing.capitalize() }}</p>
            </div>
            {% endif %}
            {% if recipe.categories.recipe_type %}
            <div class="col s12 m4">
                <p>Recipe type: {{ recipe.categories.recipe_type.capitalize() }}</p>
            </div>
            {% endif %}
            {% if recipe.categories.health_concerns %}
            <div class="col s12 m4">
                <p>Health: {{ recipe.categories.health_concerns.capitalize() }}</p>
            </div>
            {% endif %}
        </div>
        </div>



</main>

<!--Delete Recipe Modal-->
<div id="delete-recipe-modal" class="modal">
    <div class="modal-content">
        <h4>Delete Recipe</h4>
        <p>If you are sure you want to delete this recipe, please enter your account details to continue.</p>
        <form id="delete-recipe">
            <input type="hidden" name="recipe-id" value="{{ recipe._id }}">
            <div class="input-field">
                <input type="text" id="user-deleting" name="user-deleting" {% if user %} value="{{ user }}" {% endif %}>
                <label for="user-deleting">Username: </label>
            </div>
            <div class="input-field">
                <input type="password" id="password-to-delete" name="password-to-delete">
                <label for="password-to-delete">Password: </label>
            </div>
            <button type="submit" class="waves-effect red btn">Delete Recipe</button>
        </form>
        <div class="row">
            <div class="col s10 m4 offset-m4" id="delete-errors-here"></div>
            <div class="col s2 m2 no-display" id="delete-recipe-loader">
                <div class="preloader-wrapper small active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
